<div>
  <h2 id="page-heading" data-cy="InvoiceHeading">
    <span appbTranslate="appbillingApp.invoice.home.title">Invoices</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appbTranslate="appbillingApp.invoice.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-invoice"
        [routerLink]="['/invoice/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appbTranslate="appbillingApp.invoice.home.createLabel"> Create a new Invoice </span>
      </button>
    </div>
  </h2>

  <appb-alert-error></appb-alert-error>

  <appb-alert></appb-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="invoices?.length === 0">
    <span appbTranslate="appbillingApp.invoice.home.notFound">No invoices found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="invoices && invoices.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appbSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" appbSortBy="id"><span appbTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" appbSortBy="dataInit">
            <span appbTranslate="appbillingApp.invoice.dataInit">Data Init</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appbSortBy="socialReason">
            <span appbTranslate="appbillingApp.invoice.socialReason">Social Reason</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appbSortBy="clientAddress">
            <span appbTranslate="appbillingApp.invoice.clientAddress">Client Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appbSortBy="phoneNumber">
            <span appbTranslate="appbillingApp.invoice.phoneNumber">Phone Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appbSortBy="quantityForServices">
            <span appbTranslate="appbillingApp.invoice.quantityForServices">Quantity For Services</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appbSortBy="priceServices">
            <span appbTranslate="appbillingApp.invoice.priceServices">Price Services</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appbSortBy="totalValueServices">
            <span appbTranslate="appbillingApp.invoice.totalValueServices">Total Value Services</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appbSortBy="totalIva">
            <span appbTranslate="appbillingApp.invoice.totalIva">Total Iva</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appbSortBy="netValues">
            <span appbTranslate="appbillingApp.invoice.netValues">Net Values</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appbSortBy="customer.id">
            <span appbTranslate="appbillingApp.invoice.customer">Customer</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/invoice', invoice.id, 'view']">{{ invoice.id }}</a>
          </td>
          <td>{{ invoice.dataInit | formatMediumDate }}</td>
          <td>{{ invoice.socialReason }}</td>
          <td>{{ invoice.clientAddress }}</td>
          <td>{{ invoice.phoneNumber }}</td>
          <td>{{ invoice.quantityForServices }}</td>
          <td>{{ invoice.priceServices }}</td>
          <td>{{ invoice.totalValueServices }}</td>
          <td>{{ invoice.totalIva }}</td>
          <td>{{ invoice.netValues }}</td>
          <td>
            <div *ngIf="invoice.customer">
              <a [routerLink]="['/customer', invoice.customer?.id, 'view']">{{ invoice.customer?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/invoice', invoice.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appbTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/invoice', invoice.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appbTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(invoice)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appbTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="invoices && invoices.length > 0">
    <div class="d-flex justify-content-center">
      <appb-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></appb-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
